<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" xmlns:color="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand" href='/'>AKPsi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'directory' %}">Directory</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="btn btn-outline-secondary mr-sm-2" type="button" value="Logout" href="{% url 'logout' %}">Logout</a>
        </form>
    </div>
</nav>