{%  extends "pages/layouts/base.html" %}

{% block content %}
    <div class="container-fluid" id=center_body>
            {#Main title header#}
             <div class="jumbotron text-center" id=center_body>
              <h1>Alpha Kappa Psi</h1>
                 <h4><i>at</i></h4>
              <h3>The University of Texas at Austin</h3>
            </div>
            {#Main body extends to all of the screen#}
            <div class="container-fluid"  >
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <p>This is the login page for active members.</p>
                        <a title="Return" href="https://www.texasakpsi.com">
                            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/en/0/0d/Akpsi-coa.png">
                        </a>
                            <p>If you are not a member please return to the main website</p>
                    </div>
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2"><h4>About Us:</h4></div>
                </div>
            </div>
    </div>
{% endblock %}