<!DOCTYPE html>
<html lang="en">
<head>
    {# Downloads Bootstrap Framework#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    {# Sets page ready for mobile use#}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>"Active Login"</title>
</head>
<body>
    <meta charset="UTF-8">
{#    Main title header#}
     <div class="jumbotron text-center">
      <h1>Alpha Kappa Psi</h1>
         <h4><i>at</i></h4>
      <h3>The University of Texas at Austin</h3>
    </div>
{#Main body extends to all of the screen#}
    <div class="container-fluid">
      <img src="">
    </div>
</body>
</html>